@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Host Grotesk', sans-serif;
  background: #141414;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2em;
  overflow: hidden;
}

.copy-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
}

.copy-container h1 {
  width: 70%;
  color: #141414;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
}

.hero .copy-container {
  background: #fe6d38;
}

.cta .copy-container {
  background: #c6fe69;
}

.outro .copy-container {
  background: #7a78ff;
}

.about .copy-container,
.features .copy-container {
    border: 0.15rem dashed rgb(60, 60, 60);
}

.anime-text {
    width: 60%;
}

.anime-text p {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}

.anime-text .word {
  display: inline-block;
  position: relative;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.1rem 0.2rem;
  border-radius: 2rem;
  will-change: background-color, opacity;
}

.anime-text .word.keyword-wrapper {
  margin: 0 0.4rem 0.2rem 0.2rem;
}

.anime-text .word span {
  position: relative;
}

.anime-text .word span.keyword {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 0.1rem 0;
  color: #141414;
  position: relative;
}

.anime-text .word span.keyword.vibrant::before,
.anime-text .word span.keyword.shape::before,
.anime-text .word span.keyword.interactive::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7a78ff;
    border-radius: 0.5rem;
    
    z-index: -1;
}

.anime-text .word span.keyword.living::before,
.anime-text .word span.keyword.expression::before,
.anime-text .word span.keyword.storytelling::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #fe6d38;
    border-radius: 0.5rem;
    z-index: -1;
}

.anime-text .word span.keyword.clarity::before,
.anime-text .word span.keyword.intuitive::before,
.anime-text .word span.keyword.vision::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c6fe69;
    border-radius: 0.5rem;
    z-index: -1;
}

.anime-text .word,
.anime-text .word span {
    opacity: 0;
}

@media (max-width: 1000px) {
  .copy-container h1 {
      width: 90%;
      font-size: 2rem;
  }

  .anime-text {
      width: 90%;
  }

  .anime-text p {
      font-size: 1.25rem;
  }

  .anime-text .word {
      margin-right: 0.1rem;
      margin-bottom: 0.15rem;
      padding: 0.1rem 0.2rem;
  }

  .anime-text .word.keyword-wrapper {
      margin: 0 0.2rem 0.1rem 0.1rem;
  }
}